footer {
    background-color:  #989898;
    width: 100%;
}

.footer__href {
    display: block;
    font-size: 9pt;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    text-decoration: none;
    margin-top: 10px;
}

.footer__date {
    display: block;
    font-size: 7pt;
    color: #FFF;
    font-family: Arial, Helvetica, sans-serif;
    margin: 20px 0;
}

.footer__navigation {
    margin: 20px auto;
}